/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/

# rspec failure tracking
.rspec_status
.ruby-version
Gemfile.lock
.circleci/config.processed.yml
.docker/

/gemfiles/*.gemfile.lock
/gemfiles/.bundle
*.gem
*.rbc